<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".CrashLoggerApplication"
        android:allowBackup="true"
        android:label="s-a-p"
        android:supportsRtl="true"
        android:theme="@style/Theme.SAP">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UpdateActivity" android:exported="true" />
        <activity android:name=".AuditActivity" android:exported="true" />
        <activity android:name=".SearchActivity" android:exported="true" />
        <activity android:name=".PropertiesActivity" android:exported="true" />
    </application>

</manifest>
